/vendor/
/database/*.sqlite
/database/*.sqlite-journal
/database/*.sqlite-wal
/database/*.sqlite-shm
/storage/logs/*.log
/storage/cache/
/storage/sessions/
/.phpunit.cache/
/tests/.phpunit.result.cache
.env
.atl/
